html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
body{
    background-color: #ffffff;
    opacity: 1;
    background-image:  radial-gradient(#bf726c 1.05px, transparent 1.05px), radial-gradient(#bf726c 1.05px, #ffffff 1.05px);
    background-size: 42px 42px;
    background-position: 0 0,21px 21px;
}

h1{
     background-color: lightcoral;
     color: whitesmoke;
     padding-top: auto;
     padding-bottom: auto;
 }
h2{
     background-color: lightpink;
     color: whitesmoke;
     padding-left: auto;
     padding-right: auto;
}

p{
    background-color: lightgoldenrodyellow;
    color: brown;
    font-size: 20pt;
    padding-left: auto;
    padding-right: auto;
}
#normalImg{
    width: 20%;
    align-items: center;
   /* margin-left: auto;
    margin-right: auto;*/
}
#fabulusImg{
    width: 30%;
    border: 5px double rgb(219, 72, 14);
}


.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
    padding-top: auto;
    padding-bottom: auto;
}

#textcenter{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



/* unvisited link */
a:link{
	color: #2214ef; 
}  */
/* visited link */
a:visited{
	color: #4e1298; 
} 
/* mouse over link */  
 a:hover{ 
	color: #FF00FF; 
} 


  


/* Block: center */
ul{
    font-family: Garamond, 'Copperplate Gothic Light', Times, serif;
    font-size: 15pt;
    margin-left: auto;
}
ol{
    font-family: Garamond, 'Copperplate Gothic Light', Times, serif;
    font-size: 15pt;
    margin-left: auto;
}



/* Grid display */
.grid-container{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-gap: 10px;
}

.grid-container > div{
    border: 1px solid indianred;
    font-size: 20px;
    text-align: center;
    background-color:rgba(255, 255, 255, 0.812);
} 

#header{
    grid-column: 1 / span  3;
}

#menu{
    grid-column: 1 / span 1;
}

#main{
    grid-column: 2 / span 1;
}
#right{
    grid-column: 3 / span 1;
}

#footer{
    grid-column: 1 / span 3;
} 

/* @media only screen and (max-width: 500px){
    body{
        background-color: lightblue;
    }
} */


 @media only screen and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns: auto 10%;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 2;
    }
    
    #menu{
        grid-column: 1 / span 2;
        text-align: left;
    }
    
    
    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 2 / span 1;
    }
    #footer{
        grid-column: 1 / span 2;
    }
} 

 @media only screen and (max-width: 500px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    #header{
        grid-column: 1 / span 1;
    }
    
    #menu{
        grid-column: 1 / span 1;
    }
    
    #main{
        grid-column: 1 / span 1;
    }
    #right{
        grid-column: 1 / span 1;
    }
    #footer{
        grid-column: 1 / span 1;
    }
}  


/* #right img{
    width:100%;
}

#right div{
    margin-bottom: 20px;
} */




